/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
         font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
      box-sizing: border-box;
      width: 700px;
      margin: 0 auto;
}

html {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;


}

header {
font-weight: 700;
font-size: 24px;
color: #ffffff;
padding-top: 10px;
padding-left: 80px;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 35px;
  margin: auto;


}

.submit-button {
  font-weight:800;
  font-size: 14px;
  border-radius: 5px 5px 5px 5px;
  background-color: #f9e42e;
  padding: 8px 35px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  color: #033048;
} 



.border_box {
  box-sizing: border-box;
  background: url(../images/header_bg.jpg) no-repeat center top ;
  padding-bottom: 30%;
  background-size:cover;
      

  
}

.benefits {
  background-color:#f0efef;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  color: #606161;


}

.benefits p{
  font-size: 13px;
  padding-left: 10px;
  padding-right: 250px;


}
.benefits h1{
  font-size: 20px;
  font-weight: 600;
  color: #033048;

}



.benefits ul {
  font-weight: 300;
  font-size: 13px;
  color: #606161;
  padding-right: 300px;
}

.testimonial {
  color: white;
  margin: auto;
  text-align: center;
  padding: 50px 130px 70px 130px;
  font-size: 18px;
  background: url(../images/testimonial_bg.jpg) no-repeat center top;

}

.testimonial blockquote{
  font-style: italic;
  margin: 0px;
}
.testimonial p {
  font-style: none;
  font-weight: 600;
  margin: 0px;
}

.sign-up {
  background-color: #f9e42e;
  padding: 30px 60px 30px 50px;
  box-sizing: border-box;
  



}

.signup-button {
  background-color: #033048;
  color: #ffffff;
  font-weight: 800;
  font-size: 12px;
  padding: 8px 45px;
  border-radius: 2px;
  box-shadow: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
}

footer p{
font-weight: 600;
font-size: 9px;
color: white;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;

}

footer {
  background-color: black;
  margin: auto;
  text-align: center;
  overflow: auto;

}

footer h1{
font-size: 24px;
font-weight: 800;
color:#f9e42e;
padding-top: 20px;
padding-bottom: 10px;
}

.twitter {
  padding-right: 15px ;
  padding-bottom: 15px;

}

.fb {
  padding-left: 15px;
  padding-bottom: 15px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

