/*
Project Name: Relaxr
Client: Relaxr
Author: Laura McHugh
Developer @GA in DC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font: 24px;
  font-size: 24px;
  font-weight: bolder;
  padding-left: 20px; 
  padding-top: 20px;
  color: white;
}

h2{
  font: 20px;
  font-weight: 600px;
  font: #033048;

}
#logo {
  text-align: center;
  font-weight: 600;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.container {
  max-width: 700px;
  margin: auto;
}

header {
    background: url(../images/header_bg.jpg) no-repeat center rgb(134,141,157);
    width: 700px;
    margin: auto;
    height: 500px;
}

footer {
  font-size: 9px;
  font-weight: 600px;
  text-align: center;
  color: white;
  background-color:  #121212; /*almost black*/
  padding-bottom: 10px;

}

article {
    width: 700px;
    margin: auto;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.slogan {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-top: 60px;
}

.button1 {
  background-color: #f9e42e; /*yellow*/
  border: none;
  color: #033048; /*dark blue*/
  padding: 15px 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600px;
}

.benefits {
    background-color: #f0efef;
    text-align: left;
    position: relative;
    padding: 30px;
}
.benefits p {
    font-size: 13px;
  font-weight: 300px;
}
.benefits ul {
  font-size: 13px;
  font-weight: 300px;

}
.testimonial {
    background-color: #f0efef;
    text-align: center;
    position: relative;
    background: url(../images/testimonial_bg.jpg);
    color: white;
        padding: 30px;
}
.sign-up{
  background-color: #f9e42e;
  text-align: center;
  padding: 15px;
}
.button2 {
  background-color: #033048; /*dark blue*/
  border: none;
  color: white;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bolder;
  border: 5px;
}
.social {
  background-color: #121212; /*almost black*/
  color: #f9e42e; /*yellow*/
  text-align: center;
  padding: 20px;

}
table {
  text-align: center;
  padding: 60px;
  width: 400px;
}
/*I'm having trouble centering the table and i can't figure out why*/




